/* ---------------------------------------------------------------------
 RESET CSS (thanks Eric Meyer)
------------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote {
    quotes: none;
}

blockquote:before,
blockquote:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    overflow-y: scroll; /* Always show a vertical scrollbar, even when there is no scrolling */
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

img, audio, canvas, video, picture, iframe, embed {
    max-width: 100% !important; /* media should never overflow it's container */
    height: auto !important;
}

/* ---------------------------------------------------------------------
 HTML5 Element Reset
------------------------------------------------------------------------ */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
    display: block;
}

audio, canvas, video, progress, picture {
    display: inline-block;
}

template {
    display: none;
}

/* ---------------------------------------------------------------------
 Form Reset Styles
------------------------------------------------------------------------ */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

input[type="search"] {
    -webkit-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* ---------------------------------------------------------------------
 Base Styles
------------------------------------------------------------------------ */
body {
    background-color: #f2f2f2; /* creates the appearance of a sticky footer and colors it's background */
    color: #716d6c;
    font-family: Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
    font-size: 18px;
    line-height: 1.8;
}

a {
    text-decoration: underline;
    color: #716d6c;
    /* hover effect */
    -webkit-transition: color .12s linear;
       -moz-transition: color .12s linear;
        -ms-transition: color .12s linear;
         -o-transition: color .12s linear;
            transition: color .12s linear;
}

a:hover,
a:focus {
    color: #fab7a9;
}

/* ---------------------------------------------------------------------
 Utility Classes
------------------------------------------------------------------------ */
.isVisuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* ---------------------------------------------------------------------
 Masthead
------------------------------------------------------------------------ */
.masthead {
    position: relative;
    padding: 30px 0;
}

.masthead-logo {
    text-align: center;
}

.masthead-tagline {
    display: none;
}

/* ---------------------------------------------------------------------
 Navigation
------------------------------------------------------------------------ */
.nav {
    margin: 25px 0 40px 0;
}

.nav-list {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.nav-list a {
    padding: 5px 0;
    border-bottom: 2px solid transparent; /* reserve the space for the hover border */
    display: inline-block;
    color: #fab7a9;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
}

.nav-list a:hover,
.nav-list a:focus,
.nav-list li.current-menu-item a,
.nav-list li.current-menu-parent a,
.nav-list li.current_page_item a,
.nav-list li.current_page_parent a,
.nav-list li.current_page_ancestor a {
    border-bottom-color: #fab7a9; /* matches text color */
}

/* ---------------------------------------------------------------------
 Main Content Area
------------------------------------------------------------------------ */
.content {
    margin-bottom: 40px;
}

/* ---------------------------------------------------------------------
 Footer
------------------------------------------------------------------------ */
.footer {
    padding: 30px 0;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    color: #999999;
    text-align: center;
}

.footer a {
    color: #999999;
    text-decoration: none;
}

.footer a:hover,
.footer a:focus {
    color: #777777;
    text-decoration: none;
}

.footer-nav {
    margin-bottom: 25px;
}

.footer-legal-lines {
    display: block;
}

.footer-legal-lines-line {
    display: block;
}

.footer-legal-lines-line-seperator {
    display: none;
}

@media (min-width: 600px) {
    .footer {
        padding: 40px 0;
    }

    .footer-legal-lines-line {
        display: inline;
    }

    .footer-legal-lines-line-seperator {
        display: inline;
    }
}

/* ---------------------------------------------------------------------
 Tier
------------------------------------------------------------------------ */
.tier {
    overflow: hidden; /* clear anything in a tier and prevent overflow */
    min-height: 20px; /* a tier should always be visible */
    background-color: #ffffff;
}

.tier_brand {
    background-color: #fab7a9;
}

.tier_transparent {
    background-color: transparent; /* let the body background-color show through */
}

/* ---------------------------------------------------------------------
 Wrapper
------------------------------------------------------------------------ */
.wrapper {
    max-width: 1068px;
    min-width: 200px;
    margin: 0 auto;
    padding: 0 10px;
}

@media (min-width: 600px) {
    .wrapper {
        padding: 0 20px;
    }
}

/* ---------------------------------------------------------------------
 Grid
------------------------------------------------------------------------ */
@media (min-width: 840px) {
    .grid:before,
    .grid:after {
        content: " ";
        display: table;
    }

    .grid:after {
        clear: both;
    }

    .grid-col {
        float: left;
    }

    .grid-col_main {
        width: calc(100% - 240px);
    }

    .grid-col_sub {
        width: 220px;
        padding-left: 20px;
    }
}

@media (min-width: 1000px) {
    .grid-col_main {
        width: calc(100% - 300px);
    }

    .grid-col_sub {
        width: 260px;
        padding-left: 40px;
    }
}


/* ---------------------------------------------------------------------
 Section
------------------------------------------------------------------------ */
.section:before,
.section:after {
    content: " ";
    display: table;
}

.section:after {
    clear: both;
}

.section-media {
    margin-bottom: 1em;
}

@media (min-width: 680px) {
    .section-bd {
        overflow: hidden; /* trigger BFC to prevent wrapping */
    }

    .section-media_right,
    .section-media_left {
        max-width: 42%;
    }

    .section-media_right {
        float: right;
        margin-left: 40px;
    }

    .section-media_left {
        float: left;
        margin-right: 40px;
    }
}

/* ---------------------------------------------------------------------
 Logo
------------------------------------------------------------------------ */
.logo {
    display: block;
    width: 300px;
    height: 124px;
    background-size: 300px;
    background-image: url("../media/images/logo.svg");
    background-repeat: no-repeat;
}

.logo-text {
    /* hide the fallback text */
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

/* ---------------------------------------------------------------------
 FAQ
------------------------------------------------------------------------ */
.faq-question {
    font-weight: bold;
}

.faq-answer {
    margin-bottom: 1rem;
}

/* ---------------------------------------------------------------------
 Pagination
------------------------------------------------------------------------ */
.pagination {
    position: relative;
    padding: 5px 10px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}

.pagination a,
.pagination .page-numbers.current {
    display: inline-block;
    padding: 2px 6px;
    text-decoration: none;
}

.pagination .page-numbers.current {
    padding: 2px 8px;
    background-color: #f2f2f2;
    color: #999999;
}

.pagination .page-numbers.prev,
.pagination .page-numbers.next {
    display: none;
}

@media (min-width: 680px) {
    .pagination .page-numbers.prev,
    .pagination .page-numbers.next {
        display: inline;
    }
}

@media (min-width: 840px) {
    .pagination {
        left: 120px; /* faux recenter below two columns */
    }
}

@media (min-width: 1000px) {
    .pagination {
        left: 150px; /* faux recenter below two columns */
    }
}



/* ---------------------------------------------------------------------
 Listing
------------------------------------------------------------------------ */
.listing-bd {
    margin-bottom: 25px;
}

@media (min-width: 840px) {
    .listing-bd {
        margin-bottom: 50px;
    }
}

.listing-nav {
    margin-bottom: 25px;
}

/* ---------------------------------------------------------------------
 Post
------------------------------------------------------------------------ */
.post-media {
    margin-bottom: 12px;
}

.post-media:empty {
    margin-bottom: 0;
}

.post-media > img {
    display: block;
}

.post-hd {
    margin-bottom: 10px;
}

.post-meta {
    margin-bottom: 20px;
}

/* ---------------------------------------------------------------------
 Vertical List
------------------------------------------------------------------------ */
.vlist > *:not(:last-child) {
    margin-bottom: 40px;
    padding-bottom: 35px;
    border-bottom: 2px solid rgba(0,0,0,.1);
}

/* ---------------------------------------------------------------------
 Widgets
------------------------------------------------------------------------ */
.widgets-item {
    margin-bottom: 20px;
    padding: 20px;
    color: #999999;
    background-color: #f2f2f2;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

.widgets-item-hd {
    margin-bottom: 10px;
    border-bottom: 2px solid rgba(0,0,0,.1);
    padding-bottom: 10px;
}

.widgets a {
    color: #999999;
    text-decoration: none;
}

.widgets a:hover,
.widgets a:focus {
    color: #fab7a9;
}


@media (min-width: 540px) and (max-width: 839px) {
    .widgets:before,
    .widgets:after {
        content: " ";
        display: table;
    }

    .widgets:after {
        clear: both;
    }

    .widgets {
        margin-left: -20px;
    }

    .widgets-item {
        float: left;
        width: calc(50% - 20px);
        margin-left: 20px;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
}

/* ---------------------------------------------------------------------
 Link List
------------------------------------------------------------------------ */
.linkList > * {
    margin-bottom: 8px;
}

/* ---------------------------------------------------------------------
 Social Navigation
------------------------------------------------------------------------ */
.navSocial {
    font-size: 0; /* remove space between list items that are inline-block */
}

.navSocial > li {
    display: inline-block;
}

.navSocial > li + li {
    margin-left: 18px;
}

.navSocial > li.navSocial-item_tight {
    margin-left: 14px;
}

.navSocial > li > a img {
    display: block;
    height: 32px;
    width: 32px;
    opacity: .3;
    /* hover effect - timing matches regular link hovers */
    -webkit-transition: opacity .12s linear;
       -moz-transition: opacity .12s linear;
        -ms-transition: opacity .12s linear;
         -o-transition: opacity .12s linear;
            transition: opacity .12s linear;
}

.navSocial > li > a:hover img,
.navSocial > li > a:focus img {
    opacity: .6;
}

/* ---------------------------------------------------------------------
 Headings
------------------------------------------------------------------------ */
.hdg {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    line-height: 1.25;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased;
}

.hdg_lg {
    font-size: 32px;
}

.hdg_md {
    font-size: 24px;
}

.hdg_sm {
    font-size: 18px;
}

.hdg_xs {
    font-size: 16px;
}

.hdg_xxs {
    font-size: 14px;
}

.mix-hdg_kerningWide {
    letter-spacing: 4px;
}

.mix-hdg_kerningNarrow {
    letter-spacing: 0;
}

.hdg a {
    text-decoration: none;
}

/* ---------------------------------------------------------------------
 User Content
------------------------------------------------------------------------ */
.userContent {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.userContent:before,
.userContent:after {
    content: " ";
    display: table;
}

.userContent:after {
    clear: both;
}

.userContent > *:last-child {
    margin-bottom: 0;
}

.userContent a {

}

.userContent a:hover,
.userContent a:focus {

}

.userContent p {
    margin: 0 0 1rem 0;
}

.userContent h1 {
    font-size: 32px;
    line-height: 42px;
}

.userContent h2 {
    font-size: 24px;
    line-height: 36px;
}

.userContent h3 {
    font-size: 18px;
    line-height: 24px;
}

.userContent h4,
.userContent h5,
.userContent h6 {
    font-size: 14px;
    line-height: 18px;
}

.userContent h1,
.userContent h2,
.userContent h3,
.userContent h4,
.userContent h5,
.userContent h6 {
    margin: 0 0 1rem 0;
}

.userContent h1 a,
.userContent h2 a,
.userContent h3 a,
.userContent h4 a,
.userContent h5 a,
.userContent h6 a {
    text-decoration: none;
}

.userContent blockquote {
    margin: 0 0 1rem 0;
    /* TODO */
}

.userContent blockquote > *:last-child {
    margin-bottom: 0 !important;
}

.userContent address {
    margin: 0 0 1rem 0;
    font-style: italic;
}

.userContent strong,
.userContent b {
    font-weight: bold;
}

.userContent em,
.userContent i {
    font-style: italic;
}

.userContent del,
.userContent strike,
.userContent s {
    text-decoration: line-through;
}

.userContent u,
.userContent ins {
    text-decoration: underline;
}

.userContent sup {
    vertical-align: super;
    font-size: smaller;
}

.userContent sub {
    vertical-align: sub;
    font-size: smaller;
}

.userContent big {
    font-size: larger;
}

.userContent small {
    font-size: smaller;
}

.userContent abbr,
.userContent acronym {
    border-bottom: dotted 1px;
}

.userContent cite,
.userContent dfn {
    font-style: italic;
}

.userContent q {
    font-style: italic;
}

.userContent bdo {
    direction: rtl;
}

.userContent ul,
.userContent ol,
.userContent dl {
    margin: 0 0 1rem 0;
}

.userContent ul {
    list-style-type: disc;
}

.userContent ol {
    list-style-type: decimal;
}

.userContent dt {
    font-weight: bold;
}

.userContent li,
.userContent dd {
    margin: 0 0 0 1rem;
}

.userContent ul ul,
.userContent ul ol,
.userContent ul dl,
.userContent ol ul,
.userContent ol ol,
.userContent ol dl,
.userContent dl ul,
.userContent dl ol,
.userContent dl dl {
    margin-bottom: 0;
}

.userContent ol ul,
.userContent ul ul {
    list-style-type: circle;
}

.userContent ol ol ul,
.userContent ol ul ul,
.userContent ul ol ul,
.userContent ul ul ul {
    list-style-type: square;
}

.userContent hr {
    /* TODO */
}

.userContent table {
    margin: 0 0 1rem 0;
    width: 100% !important;
    border-spacing: 0;
    border-collapse: collapse;
}

.userContent caption {
    font-size: smaller;
}

.userContent tr {
    vertical-align: middle;
}

.userContent tbody {
    vertical-align: middle;
}

.userContent thead {
    vertical-align: middle;
}

.userContent tfoot {
    vertical-align: middle;
}

.userContent td {
    vertical-align: inherit;
    text-align: left;
    padding: 2px 10px;
}

.userContent th {
    vertical-align: inherit;
    text-align: left;
    font-weight: normal;
    padding: 2px 10px;
}

/* .userContent Wordpress styles from core -> http://codex.wordpress.org/CSS */
.userContent .alignnone {
    margin: 5px 20px 20px 0;
}

.userContent .aligncenter,
.userContent div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.userContent .alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.userContent .alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.userContent a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.userContent a img.alignnone {
    margin: 5px 20px 20px 0;
}

.userContent a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.userContent a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.userContent .wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.userContent .wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.userContent .wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.userContent .wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.userContent .wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.userContent .wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
