/* ---------------------------------------------------------------------
 Web fonts
------------------------------------------------------------------------ */
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic);

/* ---------------------------------------------------------------------
 RESET CSS (thanks Eric Meyer)
------------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote {
    quotes: none;
}

blockquote:before,
blockquote:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    overflow-y: scroll; /* Always show a vertical scrollbar, even when there is no scrolling */
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

img, audio, canvas, video, picture, iframe, embed {
    max-width: 100% !important; /* media should never overflow it's container */
    height: auto !important;
}

/* ---------------------------------------------------------------------
 HTML5 Element Reset
------------------------------------------------------------------------ */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
    display: block;
}

audio, canvas, video, progress, picture {
    display: inline-block;
}

template {
    display: none;
}

/* ---------------------------------------------------------------------
 Form Reset Styles
------------------------------------------------------------------------ */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

input[type="search"] {
    -webkit-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* ---------------------------------------------------------------------
 Base Styles
------------------------------------------------------------------------ */
body {
    background-color: #ffffff;
    color: #191919;
    font-family: "Arvo", Helvetica, arial, serif;
    font-size: 14px;
    line-height: 1.8;
}

a {
    text-decoration: underline;
    color: #474747;
    /* hover effect */
    -webkit-transition: color .12s linear;
       -moz-transition: color .12s linear;
        -ms-transition: color .12s linear;
         -o-transition: color .12s linear;
            transition: color .12s linear;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #9f9f9f;
}

/* ---------------------------------------------------------------------
 Utility Classes
------------------------------------------------------------------------ */
.isVisuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* ---------------------------------------------------------------------
 Landmark - Masthead
------------------------------------------------------------------------ */
.masthead {
    margin-bottom: 25px;
}

.masthead-logo {
    padding: 30px 0;
    text-align: center;
}

.masthead-logo a {
    text-decoration: none;
}

.masthead-nav {
    padding: 8px 0;
    border-top: 1px solid #cecac3;
    border-bottom: 1px solid #cecac3;
}

/* ---------------------------------------------------------------------
 Landmark - Navigation
------------------------------------------------------------------------ */
.nav-list {
    width: 285px;
    font-size: 0; /* remove space between inline block elements */
    margin: 0 auto; /* center it */
    text-align: center; /* center text of children */
}

.nav-list > li {
    display: inline-block;
}

.nav-list a {
    display: inline-block;
    padding: 2px 8px;
    font-family: "Palatino Linotype", "Palatino LT STD", Palatino, "Book Antiqua", Georgia, serif;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-list a:hover,
.nav-list a:focus {
    color: #996666;
    text-decoration: none;
}

@media (min-width: 480px) {
    .nav-list a {
        font-size: 13px;
    }
}

@media (min-width: 660px) {
    .nav-list {
        width: 100%; /* reset */
        margin: 0; /* reset */
    }

    .nav-list a {
        padding: 2px 12px;
    }
}

@media (min-width: 780px) {
    .nav-list a {
        padding: 2px 20px;
    }
}

@media (min-width: 840px) {
    .nav-list a {
        padding: 2px 25px;
        font-size: 14px;
    }
}

/* ---------------------------------------------------------------------
 Landmark - Footer
------------------------------------------------------------------------ */
.footer {
    border-top: 1px solid #cecac3;
    display: none; /* temp */
}

/* ---------------------------------------------------------------------
 Layout Module - Tier
------------------------------------------------------------------------ */
.tier {
    overflow: hidden; /* clear anything in a tier and prevent overflow */
    min-height: 20px; /* a tier should always be visible */
}

/* ---------------------------------------------------------------------
 Layout Module - Wrapper
------------------------------------------------------------------------ */
.wrapper {
    max-width: 936px;
    min-width: 200px;
    margin: 0 auto;
    padding: 0 10px;
}

@media (min-width: 600px) {
    .wrapper {
        padding: 0 20px;
    }
}

/* ---------------------------------------------------------------------
 Layout Module - Section
------------------------------------------------------------------------ */
.section:before,
.section:after {
    content: " ";
    display: table;
}

.section:after {
    clear: both;
}

.section-media {
    margin-bottom: 1em;
}

@media (min-width: 680px) {
    .section-bd {
        overflow: hidden; /* trigger BFC to prevent wrapping */
    }

    .section-media {
        max-width: 46%;
        float: right;
        margin-left: 40px;
    }
}

/* ---------------------------------------------------------------------
 Content Module - User Content
------------------------------------------------------------------------ */
.userContent {
    word-break: break-word;
}

.userContent a {

}

.userContent a:hover,
.userContent a:focus {

}

.userContent p {
    margin: 0 0 1rem 0;
}

.userContent h1,
.userContent h2,
.userContent h3,
.userContent h4,
.userContent h5,
.userContent h6 {
    margin: 0 0 1rem 0;
}


.userContent blockquote {
    margin: 0 0 1rem 0;
}

.userContent blockquote > *:last-child {
    margin-bottom: 0 !important;
}

.userContent address {
    margin: 0 0 1rem 0;
    font-style: italic;
}

.userContent strong,
.userContent b {
    font-weight: bold;
}

.userContent em,
.userContent i {
    font-style: italic;
}

.userContent del,
.userContent strike,
.userContent s {
    text-decoration: line-through;
}

.userContent u,
.userContent ins {
    text-decoration: underline;
}

.userContent sup {
    vertical-align: super;
    font-size: smaller;
}

.userContent sub {
    vertical-align: sub;
    font-size: smaller;
}

.userContent big {
    font-size: larger;
}

.userContent small {
    font-size: smaller;
}

.userContent abbr,
.userContent acronym {
    border-bottom: dotted 1px;
}

.userContent cite,
.userContent dfn {
    font-style: italic;
}

.userContent q {
    font-style: italic;
}

.userContent bdo {
    direction: rtl;
}

.userContent ul,
.userContent ol,
.userContent dl {
    margin: 0 0 1rem 0;
}

.userContent ul {
    list-style-type: disc;
}

.userContent ol {
    list-style-type: decimal;
}

.userContent dt {
    font-weight: bold;
}

.userContent li,
.userContent dd {
    margin: 0 0 0 1rem;
}

.userContent ul ul,
.userContent ul ol,
.userContent ul dl,
.userContent ol ul,
.userContent ol ol,
.userContent ol dl,
.userContent dl ul,
.userContent dl ol,
.userContent dl dl {
    margin-bottom: 0;
}

.userContent ol ul,
.userContent ul ul {
    list-style-type: circle;
}

.userContent ol ol ul,
.userContent ol ul ul,
.userContent ul ol ul,
.userContent ul ul ul {
    list-style-type: square;
}

.userContent hr {

}

.userContent table {
    margin: 0 0 1rem 0;
    width: 100% !important;
    border-spacing: 0;
    border-collapse: collapse;
}

.userContent caption {
    font-size: smaller;
}

.userContent tr {
    vertical-align: middle;
}

.userContent tbody {
    vertical-align: middle;
}

.userContent thead {
    vertical-align: middle;
}

.userContent tfoot {
    vertical-align: middle;
}

.userContent td {
    vertical-align: inherit;
    text-align: left;
    padding: 2px 10px;
}

.userContent th {
    vertical-align: inherit;
    text-align: left;
    font-weight: normal;
    padding: 2px 10px;
}