/* ---------------------------------------------------------------------
 Web fonts
------------------------------------------------------------------------ */
@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);

/* ---------------------------------------------------------------------
 RESET CSS (thanks Eric Meyer)
------------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote {
    quotes: none;
}

blockquote:before,
blockquote:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    overflow-y: scroll; /* Always show a vertical scrollbar, even when there is no scrolling */
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

img, audio, canvas, video, picture, iframe, embed {
    max-width: 100% !important; /* media should never overflow it's container */
    height: auto !important;
}

/* ---------------------------------------------------------------------
 HTML5 Element Reset
------------------------------------------------------------------------ */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
    display: block;
}

audio, canvas, video, progress, picture {
    display: inline-block;
}

template {
    display: none;
}

/* ---------------------------------------------------------------------
 Form Reset Styles
------------------------------------------------------------------------ */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

input[type="search"] {
    -webkit-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* ---------------------------------------------------------------------
 Base Styles
------------------------------------------------------------------------ */
body {
    background-color: #ffffff;
    color: #191919;
    font-family: "Noto Sans", Helvetica, arial, serif;
    font-size: 14px;
    line-height: 1.8;
}

a {
    text-decoration: underline;
    color: #474747;
    /* hover effect */
    -webkit-transition: color .12s linear;
       -moz-transition: color .12s linear;
        -ms-transition: color .12s linear;
         -o-transition: color .12s linear;
            transition: color .12s linear;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #9f9f9f;
}

/* ---------------------------------------------------------------------
 Utility Classes
------------------------------------------------------------------------ */
.isVisuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* ---------------------------------------------------------------------
 Masthead
------------------------------------------------------------------------ */
.masthead {
    margin-bottom: 25px;
}

.masthead-logo {
    padding: 30px 0;
    text-align: center;
}

.masthead-logo a {
    text-decoration: none;
}

.masthead-nav {
    padding: 8px 0;
    border-top: 1px solid #cecac3;
    border-bottom: 1px solid #cecac3;
}

/* ---------------------------------------------------------------------
 Navigation
------------------------------------------------------------------------ */
.nav-list {
    width: 285px;
    font-size: 0; /* remove space between inline block elements */
    margin: 0 auto; /* center it */
    text-align: center; /* center text of children */
}

.nav-list > li {
    display: inline-block;
}

.nav-list a {
    display: inline-block;
    padding: 2px 8px;
    /* font-family: "Palatino Linotype", "Palatino LT STD", Palatino, "Book Antiqua", Georgia, serif; */
    font-family: "Lora", Georgia, Times, "Times New Roman", serif;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-list a:hover,
.nav-list a:focus {
    color: #996666;
    text-decoration: none;
}

@media (min-width: 480px) {
    .nav-list a {
        font-size: 13px;
    }
}

@media (min-width: 660px) {
    .nav-list {
        width: 100%; /* reset */
        margin: 0; /* reset */
    }

    .nav-list a {
        padding: 2px 12px;
    }
}

@media (min-width: 780px) {
    .nav-list a {
        padding: 2px 20px;
    }
}

@media (min-width: 840px) {
    .nav-list a {
        padding: 2px 25px;
        font-size: 14px;
    }
}

/* ---------------------------------------------------------------------
 Footer
------------------------------------------------------------------------ */
.footer {
    border-top: 1px solid #cecac3;
    display: none; /* temp */
}

/* ---------------------------------------------------------------------
 Tier
------------------------------------------------------------------------ */
.tier {
    overflow: hidden; /* clear anything in a tier and prevent overflow */
    min-height: 20px; /* a tier should always be visible */
}

/* ---------------------------------------------------------------------
 Wrapper
------------------------------------------------------------------------ */
.wrapper {
    max-width: 936px;
    min-width: 200px;
    margin: 0 auto;
    padding: 0 10px;
}

@media (min-width: 600px) {
    .wrapper {
        padding: 0 20px;
    }
}

/* ---------------------------------------------------------------------
 Section
------------------------------------------------------------------------ */
.section:before,
.section:after {
    content: " ";
    display: table;
}

.section:after {
    clear: both;
}

.section-media {
    margin-bottom: 1em;
}

@media (min-width: 680px) {
    .section-bd {
        overflow: hidden; /* trigger BFC to prevent wrapping */
    }

    .section-media {
        max-width: 46%;
        float: right;
        margin-left: 40px;
    }
}

/* ---------------------------------------------------------------------
 FAQ
------------------------------------------------------------------------ */
.faq-question {
    font-weight: bold;
}

.faq-answer {
    margin-bottom: 1rem;
}

/* ---------------------------------------------------------------------
 Pagination
------------------------------------------------------------------------ */
.pagination {
    padding: 5px 10px;
    border: 1px solid #bfbfbf;
    background-color: #efefef;
    text-align: center;
}

/* ---------------------------------------------------------------------
 Slab
------------------------------------------------------------------------ */
.slab {
    padding: 20px;
    background-color: #efefef;
}

/* ---------------------------------------------------------------------
 Listing
------------------------------------------------------------------------ */
.listing-bd {
    margin-bottom: 25px;
}

@media (min-width: 840px) {
    .listing-bd {
        margin-bottom: 50px;
    }
}

.listing-nav {
    margin-bottom: 25px;
}

/* ---------------------------------------------------------------------
 Vertical List
------------------------------------------------------------------------ */
.vlist > *:not(:last-child) {
    margin-bottom: 25px;
}

/* ---------------------------------------------------------------------
 Post
------------------------------------------------------------------------ */
.post {

}

.post-hd {

}

.post-meta {

}

.post-bd {

}

.post-ft {

}

/* ---------------------------------------------------------------------
 Columns
------------------------------------------------------------------------ */
@media (min-width: 740px) {
    .columns:before,
    .columns:after {
        content: " ";
        display: table;
    }

    .columns:after {
        clear: both;
    }

    .columns {
        margin-left: -10px;
    }

    .columns-pillar {
        float: left;
        width: calc(33.3% - 10px);
        padding-left: 10px;
    }
}

@media (min-width: 840px) {
    .columns {
        margin-left: -20px;
    }

    .columns-pillar {
        width: calc(33.3% - 20px);
        padding-left: 20px;
    }
}

/* ---------------------------------------------------------------------
 Archive
------------------------------------------------------------------------ */
.archive-hd {
    margin-bottom: 5px;
    padding: 5px 10px; /* matches pianoList anchor padding */
}

.archive-bd {
    margin-bottom: 25px;
}

@media (min-width: 740px) {
    .archive-bd {
        margin-bottom: 0; /* strip bottom margin with columns separate */
    }
}

.archive-bd_noPush {
    margin-bottom: 0;
}

/* ---------------------------------------------------------------------
 Piano List
------------------------------------------------------------------------ */
.pianoList {
    border-bottom: 1px solid #cecac3;
}

.pianoList > * {
    border-top: 1px solid #cecac3;
}

.pianoList > * > a {
    display: block;
    padding: 3px 10px; /* matches archive-hd padding */
    text-decoration: none;
    /* hover effect - timing matches regular link hovers */
    -webkit-transition: background-color .12s linear;
       -moz-transition: background-color .12s linear;
        -ms-transition: background-color .12s linear;
         -o-transition: background-color .12s linear;
            transition: background-color .12s linear;
}

.pianoList > * > a:hover,
.pianoList > * > a:focus {
    color: #191919; /* NO HOVER COLOR IS WANTED HERE - override the hover set on base anchor */
    background-color: #cecac3;
}

/* ---------------------------------------------------------------------
 Headings
------------------------------------------------------------------------ */
.hdg {
    /* font-family: "Palatino Linotype", "Palatino LT STD", Palatino, "Book Antiqua", Georgia, serif; */
    font-family: "Lora", Georgia, Times, "Times New Roman", serif;
}

.hdg_lg {
    font-size: 32px;
    line-height: 42px;
}

.hdg_md {
    font-size: 24px;
    line-height: 36px;
}

.hdg_sm {
    font-size: 18px;
    line-height: 24px;
}

.hdg_xs {
    font-size: 14px;
    line-height: 18px;
}

.mix-hdg_lower {
    text-transform: lowercase;
}

.hdg a {
    text-decoration: none;
}

/* ---------------------------------------------------------------------
 User Content
------------------------------------------------------------------------ */
.userContent {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.userContent:before,
.userContent:after {
    content: " ";
    display: table;
}

.userContent:after {
    clear: both;
}

.userContent > *:last-child {
    margin-bottom: 0;
}

.userContent a {

}

.userContent a:hover,
.userContent a:focus {

}

.userContent p {
    margin: 0 0 1rem 0;
}

.userContent h1 {
    font-size: 32px;
    line-height: 42px;
}

.userContent h2 {
    font-size: 24px;
    line-height: 36px;
}

.userContent h3 {
    font-size: 18px;
    line-height: 24px;
}

.userContent h4,
.userContent h5,
.userContent h6 {
    font-size: 14px;
    line-height: 18px;
}

.userContent h1,
.userContent h2,
.userContent h3,
.userContent h4,
.userContent h5,
.userContent h6 {
    margin: 0 0 1rem 0;
}

.userContent h1 a,
.userContent h2 a,
.userContent h3 a,
.userContent h4 a,
.userContent h5 a,
.userContent h6 a {
    text-decoration: none;
}

.userContent blockquote {
    margin: 0 0 1rem 0;
    /* TODO */
}

.userContent blockquote > *:last-child {
    margin-bottom: 0 !important;
}

.userContent address {
    margin: 0 0 1rem 0;
    font-style: italic;
}

.userContent strong,
.userContent b {
    font-weight: bold;
}

.userContent em,
.userContent i {
    font-style: italic;
}

.userContent del,
.userContent strike,
.userContent s {
    text-decoration: line-through;
}

.userContent u,
.userContent ins {
    text-decoration: underline;
}

.userContent sup {
    vertical-align: super;
    font-size: smaller;
}

.userContent sub {
    vertical-align: sub;
    font-size: smaller;
}

.userContent big {
    font-size: larger;
}

.userContent small {
    font-size: smaller;
}

.userContent abbr,
.userContent acronym {
    border-bottom: dotted 1px;
}

.userContent cite,
.userContent dfn {
    font-style: italic;
}

.userContent q {
    font-style: italic;
}

.userContent bdo {
    direction: rtl;
}

.userContent ul,
.userContent ol,
.userContent dl {
    margin: 0 0 1rem 0;
}

.userContent ul {
    list-style-type: disc;
}

.userContent ol {
    list-style-type: decimal;
}

.userContent dt {
    font-weight: bold;
}

.userContent li,
.userContent dd {
    margin: 0 0 0 1rem;
}

.userContent ul ul,
.userContent ul ol,
.userContent ul dl,
.userContent ol ul,
.userContent ol ol,
.userContent ol dl,
.userContent dl ul,
.userContent dl ol,
.userContent dl dl {
    margin-bottom: 0;
}

.userContent ol ul,
.userContent ul ul {
    list-style-type: circle;
}

.userContent ol ol ul,
.userContent ol ul ul,
.userContent ul ol ul,
.userContent ul ul ul {
    list-style-type: square;
}

.userContent hr {
    /* TODO */
}

.userContent table {
    margin: 0 0 1rem 0;
    width: 100% !important;
    border-spacing: 0;
    border-collapse: collapse;
}

.userContent caption {
    font-size: smaller;
}

.userContent tr {
    vertical-align: middle;
}

.userContent tbody {
    vertical-align: middle;
}

.userContent thead {
    vertical-align: middle;
}

.userContent tfoot {
    vertical-align: middle;
}

.userContent td {
    vertical-align: inherit;
    text-align: left;
    padding: 2px 10px;
}

.userContent th {
    vertical-align: inherit;
    text-align: left;
    font-weight: normal;
    padding: 2px 10px;
}

/* .userContent Wordpress styles from core -> http://codex.wordpress.org/CSS */
.userContent .alignnone {
    margin: 5px 20px 20px 0;
}

.userContent .aligncenter,
.userContent div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.userContent .alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.userContent .alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.userContent a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.userContent a img.alignnone {
    margin: 5px 20px 20px 0;
}

.userContent a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.userContent a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.userContent .wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.userContent .wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.userContent .wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.userContent .wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.userContent .wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.userContent .wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
