/* ---------------------------------------------------------------------
 Web fonts
------------------------------------------------------------------------ */
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic);

/* ---------------------------------------------------------------------
 RESET CSS (thanks Eric Meyer)
------------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote {
    quotes: none;
}

blockquote:before,
blockquote:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:focus {
    outline: 0;
}

html {
    overflow-y: scroll; /* Always show a vertical scrollbar, even when there is no scrolling */
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

img, audio, canvas, video, picture, iframe, embed {
    max-width: 100% !important; /* media should never overflow it's container */
}

/* ---------------------------------------------------------------------
 HTML5 Element Reset
------------------------------------------------------------------------ */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
    display: block;
}

audio, canvas, video, progress, picture {
    display: inline-block;
}

template {
    display: none;
}

/* ---------------------------------------------------------------------
 Form Reset Styles
------------------------------------------------------------------------ */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

input[type="search"] {
    -webkit-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* ---------------------------------------------------------------------
 Base Styles
------------------------------------------------------------------------ */
body {
    background-color: #ffffff;
    color: #191919;
    font-family: "Arvo", Helvetica, arial, serif;
    font-size: 14px;
    line-height: 1.8;
}

a {
    text-decoration: underline;
    color: #474747;
    /* hover effect */
    -webkit-transition: color .12s linear;
       -moz-transition: color .12s linear;
        -ms-transition: color .12s linear;
         -o-transition: color .12s linear;
            transition: color .12s linear;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #9f9f9f;
}

/* ---------------------------------------------------------------------
 Utility Classes
------------------------------------------------------------------------ */
.isVisuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* ---------------------------------------------------------------------
 Landmark - Masthead
------------------------------------------------------------------------ */
.masthead {

}

.masthead-logo {
    padding: 30px 0;
    text-align: center;
}

.masthead-logo a {
    text-decoration: none;
}

.masthead-nav {
    padding: 8px 0;
    border-top: 1px solid #cecac3;
    border-bottom: 1px solid #cecac3;
}

/* ---------------------------------------------------------------------
 Landmark - Navigation
------------------------------------------------------------------------ */
.nav {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 0; /* remove the space between inline block elements */
    text-align: center;
}

.nav-item {
    display: inline-block;
    padding: 0 17px;
    vertical-align: middle;
}

.nav-item > a {
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-item > a:hover,
.nav-item > a:focus {
    color: #996666;
    text-decoration: none;
}

.nav-item-subnav {
    font-size: 0; /* remove the space between inline block elements */
}

.nav-item-subnav-item {
    display: inline-block;
    padding: 0 5px;
    vertical-align: middle;
}

.nav-item-subnav-item:first-child {
    padding-left: 0;
}

.nav-item-subnav-item img {
    display: block;
    height: 20px;
    width: 20px;
    opacity: .7;
    /* hover effect */
    -webkit-transition: opacity .12s linear;
       -moz-transition: opacity .12s linear;
        -ms-transition: opacity .12s linear;
         -o-transition: opacity .12s linear;
            transition: opacity .12s linear;
}


.nav-item-subnav-item a:hover img,
.nav-item-subnav-item a:focus img {
    opacity: 1;
}
/* ---------------------------------------------------------------------
 Landmark - Footer
------------------------------------------------------------------------ */
.footer {
    display: none;
}

/* ---------------------------------------------------------------------
 Layout Module - Tier
------------------------------------------------------------------------ */
.tier {
    overflow: hidden; /* clear anything in a tier and prevent overflow */
    min-height: 20px; /* a tier should always be visible */
}

/* ---------------------------------------------------------------------
 Layout Module - Wrapper
------------------------------------------------------------------------ */
.wrapper {
    max-width: 936px;
    min-width: 200px;
    margin: 0 auto;
    padding: 0 10px;
}

@media (min-width: 600px) {
    .wrapper {
        padding: 0 20px;
    }
}